#pai div {
    display: none;
}
header{
    display: flow;
}
.SIIRBO img{
    height: 120px;
}
body {background: #fff4f4;
    font-family: 'Nunito';
    margin: 1cm;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}
body {
   width:90%; 
}